/* font family inter  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');

/* default style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    /* border: none; */
    font-size: 18px;

    font-family: "Inter", sans-serif;

}

.container {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;

}

.btn {
    padding: 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: white;
    border: none;
}

/* common heading classes */
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-content {
    max-width: 675px;
    text-align: center;
}

.heading-content h1 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;


}

.heading-content p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;

}

/* header style */
header {
    background: linear-gradient(180deg, rgb(17, 17, 17), rgba(0, 0, 0, 0.755));
    min-height: 600px;
}

/* Nav bar style */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 16px;

}

.nav-bar>ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 45px;
}

.manue-bar {
    color: white;
    display: none;
}

.active-route {
    border-radius: 46px;
    padding: 12px 18px;
    background: rgb(230, 83, 60);
}

.nav-bar>ul a {
    color: white;
    text-decoration: none;
}

.nav-bar>ul {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 46px;
    padding: 0 12px 0 0;
}

.nav-bar>h3 {
    color: rgb(230, 83, 60);
    font-style: italic;
    font-size: 32px;

}



/* BANNER STYLE */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-element-1,
.banner-element-2 {
    width: 50%;
}

.banner-element-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner-element-1 h2 {
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;

}

.stylish-font {
    font-family: "Dancing Script", cursive;
    font-size: 78px;
    font-weight: 900;
}

.banner-element-1 p {
    margin: 32px 0;
    color: rgba(255, 255, 255, 0.5);
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card-1 {
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
    padding: 23px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(30px);
    background: rgba(209, 204, 204, 0.075);
    position: absolute;
    bottom: 63px;
    left: 90px;
}

.card-1 i {
    font-size: 30px;
    color: rgb(230, 83, 60);
}

.card-1 h3 {
    font-size: 24px;
    font-weight: 900;

}

.card-2 h3 {
    font-size: 24px;
    font-weight: 900;

}

.card-2 {
    color: white;
    padding: 23px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(30px);
    background: rgba(209, 204, 204, 0.075);
    position: absolute;
    top: 125px;
    right: 50px;
}



/* Change habit style */
.first-seciton {
    background-color: black;
    padding: 100px 0;
}

.habit-content {
    color: white;
    width: 250px;
    text-align: center;
}

.habit-img-container img {
    border-radius: 100%;
}

.habit-content h3 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin: 12px 0;

}

.habit-content p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;

}

.habit-content-container {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    align-items: center;
}

.ad-banner {
    color: white;
    display: flex;
    align-items: center;
    gap: 165px;
    margin-top: 100px;
    background-color: rgb(34, 34, 34);
    padding: 54px;
    border-radius: 18px;
}

.ad-banner-content-1,
.ad-banner-content-2 {
    width: 50%;
}

.ad-banner-content-2 img {
    width: 100%;
    border-radius: 18px;
}

.ad-banner-content-1 h2 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;

}

.ad-banner-content-1 p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin: 34px 0;
}



/* bmi-calculator-section style */
.bmi-calculator-section {
    background: rgb(34, 34, 34);
    padding: 52px 0;
}

.bmi-table td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;

}

.bmi-table {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}

th {
    width: 200px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

th,
td {
    padding: 8px 16px;
}

.bmi-title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 52px;
}

.bmi-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-1,
.div-2 {
    width: 50%;
}

.div-2 h2 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
}

.div-2 p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin: 16px 0;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 16px 0;
}

.input-fild {
    width: 50%;
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
}


/* 3rd section style */

.third-section {
    background-color: rgb(0, 0, 0);
    padding: 90px 0;
}

.trainer-element {
    color: white;
    height: 300px;
    position: relative;
}

.trainer-element img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.trainer-dis {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.trainer-dis-container {
    margin-top: 58px;
    display: grid;
    padding: 16px;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
}

.footer {
    background-color: rgb(34, 34, 34);
    padding: 66px 0;
}

.footer-title {
    color: rgb(230, 83, 60);
    font-style: italic;
    font-size: 70px;
    margin-bottom: 20px;
}

.footer p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;

}


.footer-content h3 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;

}

.footer-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;


}

.footer-content a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    text-decoration: none;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 100px;
    padding-bottom: 80px;
}
.first-column{
    grid-column: span 2;
}
.coppyright{
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}
hr{
    margin-top: 12px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}